@import "../node_modules/bootstrap/scss/bootstrap";

$font-weight-lighter:         100;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        500;
$font-weight-bold:            700;
$font-weight-bolder:          900;
